<div class="tree-component">
  <nav class="nav">
    <h1>Angular Bootstrap</h1>
  </nav>
  <ul ngbNav #nav="ngbNav" class="nav-tabs text-dark rounded" [(activeId)]="activeNav">
    <li [ngbNavItem]="1">
      <a ngbNavLink placement="bottom" ngbTooltip="Tree Hierarchy" tooltipClass="my-custom-class">Home</a>
      <ng-template ngbNavContent>
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="Tree Hierarchy">
            <ng-template ngbPanelContent>
              <div class="tree-container">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                  <!-- This is the tree node template for leaf nodes -->
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    {{node.name}}
                  </mat-tree-node>
                  <!-- This is the tree node template for expandable nodes -->
                  <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
                    matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    <mat-icon class="tree-mat-icon">group</mat-icon>
                    <!-- <mat-icon class="tree-mat-icon">list</mat-icon> -->
                    {{node.name}}
                  </mat-tree-node>
                </mat-tree>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink placement="bottom" ngbTooltip="Alerts">Alert Service</a>
      <ng-template ngbNavContent>
        <ngb-alert class="fixed-top" #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''"
        >{{ successMessage }}
      </ngb-alert>
      <button class="btn btn-primary" (click)="changeSuccessMessage()">Change message</button>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink placement="bottom" ngbTooltip="Date Picker">Ngb-DatePicker</a>
      <ng-template ngbNavContent>
        <div>
    <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" action
      class="form-content">
      <div class="form-control">
        <label for="username">UserName: </label>
        <input type="text" formControlName="userName">
      </div>
      <div class="form-control">
        <label for="password">Password: </label>
        <input type="password" formControlName="password">
      </div>
      <div class="form-control">
        <button *ngIf="!isLoggedIn" class="btn btn-primary" type="submit">Log
          In</button>
        <button *ngIf="isLoggedIn" class="btn btn-danger"
          (click)="onClickLogOut()">Log Out</button>
      </div>
    </form>
  <div class="form-content">
    <input type="text" [(ngModel)]="dateModel"
      [ngModelOptions]="{standalone: true}" ngbDatepicker #dp="ngbDatepicker" (navigate)="date = $event.next"/>
    <button (click)="dp.toggle()">Toggle</button>
  </div>
  <div class="form-content">
    <hr />
    <button class="btn btn-sm btn-outline-primary me-2"
      (click)="selectToday()">Select Today</button>
    <button class="btn btn-sm btn-outline-primary me-2"
      (click)="dp.navigateTo()">To current month</button>
    <button class="btn btn-sm btn-outline-primary me-2"
      (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
  </div>
  <h1 *ngIf="isLoggedIn">Logged In</h1>
  <h1 *ngIf="!isLoggedIn">Logged Out</h1>
  <!-- <pre>Month:{{ date.month }}.{{ date.year }}</pre> -->
  <pre>Model: {{ dateModel | json }}</pre>
</div>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink placement="bottom" ngbTooltip="Confirmation Dailog Box">Confirm Modal</a>
      <ng-template ngbNavContent>
        <p>
          First focusable element within the modal window will receive focus upon opening. This could be configured to focus any
          other element by adding an <code>ngbAutofocus</code> attribute on it.
        </p>
        
        <!-- <pre
          class="language-html"
        >
        <code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">ngbAutofocus</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-danger<span class="token punctuation">"</span></span>
              <span class="token attr-name">(click)</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>modal.close(<span class="token punctuation">'</span>Ok click<span class="token punctuation">'</span>)<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Ok<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span></code></pre>
        
        <br /> -->
        <button class="btn btn-outline-primary me-2" (click)="openModal('focusFirst')">
          <div>Open confirm modal</div>
          <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small></div>
        </button>
        
        <button class="btn btn-outline-primary" (click)="openModal('autofocus')">
          <div>Open confirm modal with `ngbAutofocus`</div>
          <div class="text-dark" aria-hidden="true"><small>Ok button will be focused</small></div>
        </button>
        <pre>{{ closeResult }}</pre>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink placement="bottom" ngbTooltip="Off Canvas">OffCanvas</a>
      <ng-template ngbNavContent>
        <ng-template #content let-offcanvas >
          <div class="offcanvas-header">
            <h4 class="offcanvas-title">Offcanvas title</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
          </div>
          <div class="offcanvas-body">
            <p>One fine body&hellip;</p>
            <div class="text-end">
              <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
            </div>
          </div>
        </ng-template>
        <button class="btn btn-lg btn-outline-primary" (click)="openOffCanvas(content)">Launch offcanvas</button>
        <pre>{{ closeResult }}</pre>
      </ng-template>
      
    </li>
    <li [ngbNavItem]="6">
      <a ngbNavLink placement="bottom" ngbTooltip="Pop Over">PopOver</a>
      <ng-template ngbNavContent>
        <ng-template #popContent>Hello, <b>Humans!</b>!</ng-template>
        <ng-template #popTitle>Fancy <b>content!!</b></ng-template>
        <button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
          I've got markup and bindings in my popover!
        </button>
      </ng-template>
    </li>
    <li [ngbNavItem]="7">
      <a ngbNavLink placement="bottom" ngbTooltip="Progress Bar">Progress Bar</a>
      <ng-template ngbNavContent="">
        <p><ngb-progressbar type="success" [value]="25">default</ngb-progressbar></p>
        <p><ngb-progressbar type="info" [value]="50" height="10px">10px</ngb-progressbar></p>
        <p><ngb-progressbar type="warning" [value]="75" height=".5rem">.5rem</ngb-progressbar></p>
        <p><ngb-progressbar type="danger" [value]="100" height="20px">20px</ngb-progressbar></p>
      </ng-template>
    </li>
    <li [ngbNavItem]="8">
      <a ngbNavLink placement="bottom" ngbTooltip="Ratings">Rating</a>
      <ng-template ngbNavContent>
        <p>We use <code>bootstrap-icons</code> to display stars</p>
        <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0"></ngb-rating>
        <hr />
        <pre>
          Selected: <b>{{selected}}</b>
          Hovered: <b>{{hovered}}</b>
          </pre>
        <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
      </ng-template>
    </li>
    <li [ngbNavItem]="9">
      <a ngbNavLink placement="bottom" ngbTooltip="Complete Table">Table</a>
      <ng-template ngbNavContent>
        <form>
          <div class="mb-3 row">
            <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
            <div class="col-xs-3 col-sm-auto">
              <input
                id="table-complete-search"
                type="text"
                class="form-control"
                name="searchTerm"
                [(ngModel)]="service.searchTerm"
              />
            </div>
            <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
          </div>
        
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Country</th>
                <th scope="col" sortable="area" (sort)="onSort($event)">Area</th>
                <th scope="col" sortable="population" (sort)="onSort($event)">Population</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries$ | async ; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>
                  <img
                    [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
                    class="me-2"
                    style="width: 20px"
                  />
                  <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
                <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td>
              </tr>
            </tbody>
          </table>
        
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>
        
            <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="10">
      <a ngbNavLink placement="bottom" ngbTooltip="Time Picker">Time Picker</a>
      <ng-template ngbNavContent="">
        <ngb-timepicker [(ngModel)]="time" [spinners]="spinners" [meridian]="meridian"></ngb-timepicker>
      <hr />
      <button class="m-t-1 btn btn-sm btn-outline-{{spinners ? 'success' : 'danger'}}" (click)="toggleSpinners()">
        Spinners - {{spinners ? "ON" : "OFF"}}
      </button>
      <button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}} mx-2" (click)="toggleMeridian()">
        Meridian - {{meridian ? "ON" : "OFF"}}
      </button>
      </ng-template>
    </li>
    <li [ngbNavItem]="11">
      <a ngbNavLink placement="bottom" ngbTooltip="Toaster">Toast</a>
      <ng-template ngbNavContent>
        <ng-template #dangerTpl>
          <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"
            />
          </svg>
          Danger Danger !
        </ng-template>
        
        <p>Please click one of the button to see a Toast being displayed in the top right corner of your screen:</p>
        
        <div class="buttons">
          <button class="btn btn-primary" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button
          >&nbsp;
          <button class="btn btn-success" (click)="showSuccess()" ngbTooltip="Will disappear in 10s">Success toast</button
          >&nbsp;
          <button class="btn btn-danger" (click)="showDanger(dangerTpl)" ngbTooltip="Will disappear in 15s">Danger toast</button
          >&nbsp;
        </div>
        
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
      </ng-template>
    </li>
    <li [ngbNavItem]="12">
      <a ngbNavLink placement="bottom" ngbTooltip="TypeAhead">TypeAhead</a>
      <ng-template ngbNavContent>
        <label for="typeahead-basic">Search for a state:</label>
        <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="stateModel" [ngbTypeahead]="search" />
        <hr />
        <pre>Model: {{ stateModel | json }}</pre>
      </ng-template>
    </li>
    <li [ngbNavItem]="13">
      <a ngbNavLink placement="bottom" ngbTooltip="Tooltips">ScrollSpy</a>
      <ng-template ngbNavContent>
        <div  style="height: 80vh; overflow-y: scroll;">
          <nav class="navbar navbar-fixed-top">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle"
                          data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">GeeksforGeeks</a>
                  </div>
                  <div>
                      <div class="collapse navbar-collapse bg-primary" id="myNavbar">
                          <ul class="nav navbar-nav">
                              <li><a href="#section1">Section 1</a></li>
                              <li><a href="#section2">Section 2</a></li>
                              <li><a href="#section3">Section 3</a></li>
                              <li><a href="#section4">Section 4</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </nav>
          <div id="section1" class="container-fluid">
              <h1>Section 1</h1>
              <h3>GeeksforGeeks</h3>
              <h5>A computer science portal for geeks.</h5>
              <h6> This portal has been created to provide
                  well written, well thought and well
                  explained solutions for selected questions
                  related to programming, algorithms,
                  other computer science subjects.</h6>
               
      <p>Scroll this section.</p>
       
          </div>
          <div id="section2" class="container-fluid">
              <h1>Section 2</h1>
              <h3>GeeksforGeeks</h3>
              <h5>A computer science portal for geeks.</h5>
              <h6> This portal also provide GATE
                  previous year papers,short notes
                  for the aspirants.</h6>
               
      <p>Scroll this section.</p>
       
          </div>
          <div id="section3" class="container-fluid">
              <h1>Section 3</h1>
              <h3>GeeksforGeeks</h3>
              <h5>A computer science portal for geeks.</h5>
              <h6>This portal also provide interview questions
                  asked by private and public sectors.</h6>
               
      <p>Scroll this section.</p>
       
          </div>
          <div id="section4" class="container-fluid">
              <h1>Section 4</h1>
              <h3>GeeksforGeeks</h3>
              <h5>A computer science portal for geeks.</h5>
              <h6>It also provide Internship or
                  contributor program for students.</h6>
               
      <p>Scroll this section.</p>
       
          </div>
      </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  <!-- <div class="tree-header">
    <h1>Tree Hierarchy</h1>
    <mat-icon>home</mat-icon>
  </div> -->
<!-- <p>
	<button class="btn btn-primary" (click)="changeSuccessMessage()">Change message</button>
</p> -->
<!-- <ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="sm"></ngb-pagination> -->

</div>

